name: Continuous Integration

on:
  push:
    branches:
      - main, development
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: Unit-Tests
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Link SwiftLint or install it
        run: brew link --overwrite swiftlint || brew install swiftlint

      - name: Set up XCode 
        run: sudo xcode-select --switch /Applications/Xcode_26.2.app/Contents/Developer
      
      - name: Bundle Install
        run: bundle install
      
      - name: Unit tests
        run: bundle exec fastlane unit_tests
      
      - name: Code Coverage
        run: bundle exec fastlane coverage
      
      - name: Lint
        run: bundle exec fastlane lint
